.header {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  color: #faf7f2;
  background-color: #ce2829;
  font-size: 1.5rem;
  height: 10.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.logo {
  background-image: url("../components/logo.svg");
  background-size: contain; /* Ensures the logo fits its container without losing quality */
  background-repeat: no-repeat;
  width: 100%; /* Makes the width responsive */
  max-width: 32rem; /* Prevents it from becoming too large */
  height: 20rem; /* Ensures the aspect ratio is maintained */
  margin: 0.5rem auto;
}

h1 {
  padding-top: 0.5rem;
  text-align: center;
}
nav {
  width: 33%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #faf7f2;
  font-size: 1.2rem;
}

a:last-child {
  color: #faf7f2;
  font-weight: bold;
}
